 #page{
  background-color: #FFFDD0;
 }
 #title {
  background-color: #b7a684;
  text-align: center;
  height: 75px;
 }
 #collapsible {
    background-color: #b7a684;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 300px;
    text-align: left;
    font-size: 15px;
    position:relative;
    left:75%;
    
  }

  img {
    position: absolute;
    left: 65%;
    top: 15%;
  }

  h2 {
    background-color: #b7a684;
    width: 60%;
  }

  p {
    background-color: #b7a684;
    width: 60%;
    height: 300px;
  }
  

  .contact-info {
    color: black;
    display: block;
    background-color: #b7a684;
    font-weight:500;
    width: 336px;
    position: relative;
    left:75%;
  
  }
  
  body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .footer {
    background-color: #b7a684;
    padding: 10px;
    margin-top: auto;
    height: 50px;
  }
 
 
 
